# Providers
provider.PullRequests=github|jgit
provider.MergeTester=github|jgit
provider.Data=github|jgit

# Settings
settings.large=1000
settings.pairs.skipLarge=true
settings.pairs.skipDifferentTargets=true

# GitHub provider
github.Owner=username
github.Repository=repository-name
github.PersonalAccessToken=123456789abcdef

# JGit provider
jgit.Directory=/path/to/local/git/repo
