# Providers
provider.PullRequestProvider=github|jgit
provider.MergeProvider=github|jgit
provider.EnrichmentProvider=github|jgit

# Settings
settings.large=1000
settings.pairs.skipLarge=true
settings.pairs.skipDifferentTargets=true

# GitHub provider
github.Owner=username
github.Repository=repository-name
github.PersonalAccessToken=123456789abcdef

# JGit provider
jgit.Directory=/path/to/local/git/repo
