# Providers / decorators
provider.repository=ghtorrent|github|jgit
provider.requests=ghtorrent|github|jgit
decorators.single=cache-read,ghtorrent,github,jgit,cache-write
decorators.pairwise=cache-read,ghtorrent,github,jgit,cache-write

# General
update.interval=120
pairs.targets.equal=true
output.directory=/path/to/output
output.index=false
monitor.interval.type=time|percentage|absolute
monitor.interval.value=10

# Cache provider
cache.directory=/path/to/cache

# GHTorrent provider
ghtorrent.host=localhost
ghtorrent.port=3306
ghtorrent.username=mysql-user
ghtorrent.password=mysql-password
ghtorrent.database=mysql-database

# GitHub provider
github.owner=username
github.repository=repository-name
github.token=123456789abcdef

# JGit provider
jgit.directory=/path/to/local/git/repo
jgit.clean=true
